*{
  background-color:rgb(171, 171, 171);
}
.calculator{
  border:1px solid grey;
  width:230px;
  height:360px;
  border-radius:5px;
}
.display{
  margin:10px;
  width:180px;
  font-size:25px;
}
.buttonContainer{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button{
  width:45px;
  height:45px;
  margin:3px;
}